﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>申請密碼重設</title>
</head>
<body>
    <h1>申請密碼重設</h1>
    <p>{{UserName}}使用者，您好: </p>
    <p><h3>驗證碼：{{AuthCode}}</h3></p>
    <p>
        由於您申請登入密碼重設，為了完成接下來的重設密碼程序，請您點擊下列連結以幫您重新轉向重設密碼頁面﹒
        <br />
        <a href="{{ValidateUrl}}" target="_blank">{{ValidateUrl}}</a>
    </p>
    <p>感謝您配合!</p>
</body>
</html>