﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>會員註冊驗證信</title>
</head>
<body>
    <h1>會員註冊驗證信(僅WEB用)</h1>
    <p>{{UserName}}使用者，您好: </p>
    <p>
        由於您申請註冊成為本站會員，為了完成接下來的會員註冊程序，請您點擊下列連結以確認您的Email地址﹒
        <br />
        <a href="{{ValidateUrl}}" target="_blank">{{ValidateUrl}}</a>
    </p>
    <p>感謝您配合!</p>
</body>
</html>