﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>會員註冊驗證信</title>
</head>
<body>
    <h1>會員註冊驗證信(僅APP用)</h1>
    <p>{{UserName}}使用者，您好: </p>
    <p>
        由於您申請註冊成為本站會員，為了完成接下來的會員註冊程序，請您使用下方驗證碼並開啟本APP驗證﹒
        <br />
        <h3>驗證碼：{{AuthCode}}</h3>
    </p>
    <p>感謝您配合!</p>
</body>
</html>